@model Garage_3._0.Models.ViewModels.ParkingSpotViewModel

@{
    ViewData["Title"] = "Create Parking Spot";
}

<h1>Create Parking Spot</h1>

<h4>Parking Spot</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="SpotNumber" class="control-label"></label>
                <input asp-for="SpotNumber" class="form-control" />
                <span asp-validation-for="SpotNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <select asp-for="Size" class="form-control">
                    <option value="">-- Select Size --</option>
                    <option value="Small">Small</option>
                    <option value="Medium">Medium</option>
                    <option value="Large">Large</option>
                </select>
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <select asp-for="Location" class="form-control">
                    <option value="">Select Location</option>
                    <option value="North">North</option>
                    <option value="West">West</option>
                    <option value="East">East</option>
                    <option value="South">South</option>
                </select>
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>


            <div class="form-group form-check">
                <input class="form-check-input" asp-for="IsOccupied" />
                <label class="form-check-label" asp-for="IsOccupied"></label>
                <span asp-validation-for="IsOccupied" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
